@import url('https://allfont.net/allfont.css?fonts=star-jedi');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@400;500&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: 0px auto ;
}

.scroll{
  background: black;
  background-size: 2000px 1200px;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto';
  position: relative;
}

.scroll .wrapper{
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  perspective: 450px;
}

.scroll .wrapper .scroll-text{
  color: #ffc909;
  font-size: 3vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 60s linear infinite; 
}

.scroll .wrapper .scroll-text h1, h2{
  text-align: center;
  margin-bottom: 150px;
}

.scroll .wrapper .scroll-text p{
  margin-bottom: 100px;
}

@keyframes scroll {
  0% {top: 0px; transform: translateZ(0) rotateX(20deg)}
  100% {top: -5000px; transform: translateZ(-2000px) rotateX(21deg);}
}

.people{
  display: flex;
  background: url("img/wallpaper.jpg") no-repeat center;
  background-size: 2000px 1200px;
  height: 100vh;
}


.people .people-info-container{
  width: 800px;
  height: 400px;
  border: 2px solid yellow;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 25px;
  display: block;
  margin-top: 200px;
}

.people .people-info-container h1{
  margin-bottom: 50px;
  font-family: 'Ubuntu';
}

.people button{
  background-color: white;
  border: none;
  color: black;
  padding: 15px 15px;
  text-align: center;
  display: block;
  margin: 0px auto;
  font-size: 16px;
  font-weight: 100;
  border-radius: 10px;
  font-family: 'Dela Gothic One',cursive;
}

