@import url('https://allfont.net/allfont.css?fonts=star-jedi');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@400;500&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: 0px auto ;
}

.scroll{
  background: black;
  background-size: 2000px 1200px;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto';
  position: relative;
}

.scroll .wrapper{
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  perspective: 450px;
}

.scroll .wrapper .scroll-text{
  color: #ffc909;
  font-size: 3vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 60s linear infinite; 
}

.scroll .wrapper .scroll-text h1, h2{
  text-align: center;
  margin-bottom: 150px;
}

.scroll .wrapper .scroll-text p{
  margin-bottom: 100px;
}

@keyframes scroll {
  0% {top: 0px; transform: translateZ(0) rotateX(20deg)}
  100% {top: -5000px; transform: translateZ(-2000px) rotateX(21deg);}
}

[data-tab-content]{
  display: none;
}

.active[data-tab-content]{
  display: block;
}

.tabs{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-family: 'Roboto';
  background-color: white;
  color: black;
}

.tab{
  cursor: pointer;
  padding: 10px 50px;
}

.tab.active{
  background-color: #ffc909;
}

.tab:hover{
  background-color: #ffc909;
}

.tab-content{
  display: flex;
  background: url("img/wallpaper.jpg") no-repeat center;
  background-size: 2000px 1200px;
  height: 100vh;
}

.tab-content .header{
  position: relative;
  margin-left: 450px;
  margin-top: -500px;
}

.tab-content .active{
  position: relative;
  width: 1000px;
  height: 500px;
  border: 2px solid	#43a5cf;
  color: white;
  padding: 20px;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.tab-content h1{
  margin-bottom: 45px;
  font-family: 'Ubuntu';
  color: #ffc909;
}

.tab-content button{
  background-color: white;
  border: none;
  color: black;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  border-radius: 10px;
  font-family: 'Dela Gothic One',cursive;
  position:absolute; top: 510px; left: 370px;
}
